In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [9]:
rs_1 = pd.read_csv('C:/Users/david/DATA/HDB/1_1990-1999.csv')
rs_1.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200

In [10]:
rs_1.tail()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
287191,1999-12,YISHUN,EXECUTIVE,611,YISHUN ST 61,10 TO 12,142.0,APARTMENT,1987,456000
287192,1999-12,YISHUN,EXECUTIVE,324,YISHUN CTRL,01 TO 03,142.0,APARTMENT,1988,408000
287193,1999-12,YISHUN,EXECUTIVE,392,YISHUN AVE 6,07 TO 09,146.0,MAISONETTE,1988,469000
287194,1999-12,YISHUN,EXECUTIVE,356,YISHUN RING RD,04 TO 06,146.0,MAISONETTE,1988,440000
287195,1999-12,YISHUN,EXECUTIVE,358,YISHUN RING RD,01 TO 03,145.0,MAISONETTE,1988,484000

In [11]:
rs_1.shape

(287196, 10)

In [12]:
rs_2 = pd.read_csv('C:/Users/david/DATA/HDB/2_2000-feb-2012.csv')

In [13]:
rs_2.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0
3,2000-01,ANG MO KIO,3 ROOM,215,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,167000.0
4,2000-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,163000.0

In [14]:
rs_2.tail()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
369646,2012-02,YISHUN,5 ROOM,212,YISHUN ST 21,10 TO 12,121.0,Improved,1985,476888.0
369647,2012-02,YISHUN,5 ROOM,758,YISHUN ST 72,01 TO 03,122.0,Improved,1986,490000.0
369648,2012-02,YISHUN,5 ROOM,873,YISHUN ST 81,01 TO 03,122.0,Improved,1988,488000.0
369649,2012-02,YISHUN,EXECUTIVE,664,YISHUN AVE 4,07 TO 09,181.0,Apartment,1992,705000.0
369650,2012-02,YISHUN,EXECUTIVE,293,YISHUN ST 22,04 TO 06,163.0,Apartment,1992,630000.0

In [15]:
rs_2.shape

(369651, 10)

In [16]:
# info index datatypes memory
rs_2.info

<bound method DataFrame.info of           month        town  flat_type block       street_name storey_range  \
0       2000-01  ANG MO KIO     3 ROOM   170  ANG MO KIO AVE 4     07 TO 09
1       2000-01  ANG MO KIO     3 ROOM   174  ANG MO KIO AVE 4     04 TO 06
2       2000-01  ANG MO KIO     3 ROOM   216  ANG MO KIO AVE 1     07 TO 09
3       2000-01  ANG MO KIO     3 ROOM   215  ANG MO KIO AVE 1     07 TO 09
4       2000-01  ANG MO KIO     3 ROOM   218  ANG MO KIO AVE 1     07 TO 09
...         ...         ...        ...   ...               ...          ...
369646  2012-02      YISHUN     5 ROOM   212      YISHUN ST 21     10 TO 12
369647  2012-02      YISHUN     5 ROOM   758      YISHUN ST 72     01 TO 03
369648  2012-02      YISHUN     5 ROOM   873      YISHUN ST 81     01 TO 03
369649  2012-02      YISHUN  EXECUTIVE   664      YISHUN AVE 4     07 TO 09
369650  2012-02      YISHUN  EXECUTIVE   293      YISHUN ST 22     04 TO 06

        floor_area_sqm      flat_model  lease_commence_date  resale_price
0                 69.0        Improved                 1986      147000.0
1                 61.0        Improved                 1986      144000.0
2                 73.0  New Generation                 1976      159000.0
3                 73.0  New Generation                 1976      167000.0
4                 67.0  New Generation                 1976      163000.0
...                ...             ...                  ...           ...
369646           121.0        Improved                 1985      476888.0
369647           122.0        Improved                 1986      490000.0
369648           122.0        Improved                 1988      488000.0
369649           181.0       Apartment                 1992      705000.0
369650           163.0       Apartment                 1992      630000.0

[369651 rows x 10 columns]>

In [17]:
rs_2.dtypes

month                   object
town                    object
flat_type               object
block                   object
street_name             object
storey_range            object
floor_area_sqm         float64
flat_model              object
lease_commence_date      int64
resale_price           float64
dtype: object

In [18]:
rs_2.describe

<bound method NDFrame.describe of           month        town  flat_type block       street_name storey_range  \
0       2000-01  ANG MO KIO     3 ROOM   170  ANG MO KIO AVE 4     07 TO 09
1       2000-01  ANG MO KIO     3 ROOM   174  ANG MO KIO AVE 4     04 TO 06
2       2000-01  ANG MO KIO     3 ROOM   216  ANG MO KIO AVE 1     07 TO 09
3       2000-01  ANG MO KIO     3 ROOM   215  ANG MO KIO AVE 1     07 TO 09
4       2000-01  ANG MO KIO     3 ROOM   218  ANG MO KIO AVE 1     07 TO 09
...         ...         ...        ...   ...               ...          ...
369646  2012-02      YISHUN     5 ROOM   212      YISHUN ST 21     10 TO 12
369647  2012-02      YISHUN     5 ROOM   758      YISHUN ST 72     01 TO 03
369648  2012-02      YISHUN     5 ROOM   873      YISHUN ST 81     01 TO 03
369649  2012-02      YISHUN  EXECUTIVE   664      YISHUN AVE 4     07 TO 09
369650  2012-02      YISHUN  EXECUTIVE   293      YISHUN ST 22     04 TO 06

        floor_area_sqm      flat_model  lease_commence_date  resale_price
0                 69.0        Improved                 1986      147000.0
1                 61.0        Improved                 1986      144000.0
2                 73.0  New Generation                 1976      159000.0
3                 73.0  New Generation                 1976      167000.0
4                 67.0  New Generation                 1976      163000.0
...                ...             ...                  ...           ...
369646           121.0        Improved                 1985      476888.0
369647           122.0        Improved                 1986      490000.0
369648           122.0        Improved                 1988      488000.0
369649           181.0       Apartment                 1992      705000.0
369650           163.0       Apartment                 1992      630000.0

[369651 rows x 10 columns]>

In [19]:
rs_2.columns

Index(['month', 'town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date', 'resale_price'],
      dtype='object')

In [20]:
rs_2.index

RangeIndex(start=0, stop=369651, step=1)

In [21]:
rs_2.nunique()

month                   146
town                     26
flat_type                 7
block                  1991
street_name             523
storey_range             14
floor_area_sqm          189
flat_model               16
lease_commence_date      46
resale_price           5615
dtype: int64

In [22]:
# index col
# location_1 = r'C:/Users/david/DATA/HDB/1_1990-1999.csv'

location_1 = r'C:/Users/david/DATA/HDB/1_1990-1999.csv'
rs_1 = pd.read_csv(location_1, index_col = 0)
print(rs_1)

               town  flat_type block       street_name storey_range  \
month
1990-01  ANG MO KIO     1 ROOM   309  ANG MO KIO AVE 1     10 TO 12
1990-01  ANG MO KIO     1 ROOM   309  ANG MO KIO AVE 1     04 TO 06
1990-01  ANG MO KIO     1 ROOM   309  ANG MO KIO AVE 1     10 TO 12
1990-01  ANG MO KIO     1 ROOM   309  ANG MO KIO AVE 1     07 TO 09
1990-01  ANG MO KIO     3 ROOM   216  ANG MO KIO AVE 1     04 TO 06
...             ...        ...   ...               ...          ...
1999-12      YISHUN  EXECUTIVE   611      YISHUN ST 61     10 TO 12
1999-12      YISHUN  EXECUTIVE   324       YISHUN CTRL     01 TO 03
1999-12      YISHUN  EXECUTIVE   392      YISHUN AVE 6     07 TO 09
1999-12      YISHUN  EXECUTIVE   356    YISHUN RING RD     04 TO 06
1999-12      YISHUN  EXECUTIVE   358    YISHUN RING RD     01 TO 03

         floor_area_sqm      flat_model  lease_commence_date  resale_price
month
1990-01            31.0        IMPROVED                 1977          9000
1990-01            31.0        IMPROVED                 1977          6000
1990-01            31.0        IMPROVED                 1977          8000
1990-01            31.0        IMPROVED                 1977          6000
1990-01            73.0  NEW GENERATION                 1976         47200
...                 ...             ...                  ...           ...
1999-12           142.0       APARTMENT                 1987        456000
1999-12           142.0       APARTMENT                 1988        408000
1999-12           146.0      MAISONETTE                 1988        469000
1999-12           146.0      MAISONETTE                 1988        440000
1999-12           145.0      MAISONETTE                 1988        484000

[287196 rows x 9 columns]

In [23]:
location_2 = r'C:/Users/david/DATA/HDB/2_2000-feb-2012.csv'
rs_2 = pd.read_csv(location_2, index_col = 0)
print(rs_2)

               town  flat_type block       street_name storey_range  \
month
2000-01  ANG MO KIO     3 ROOM   170  ANG MO KIO AVE 4     07 TO 09
2000-01  ANG MO KIO     3 ROOM   174  ANG MO KIO AVE 4     04 TO 06
2000-01  ANG MO KIO     3 ROOM   216  ANG MO KIO AVE 1     07 TO 09
2000-01  ANG MO KIO     3 ROOM   215  ANG MO KIO AVE 1     07 TO 09
2000-01  ANG MO KIO     3 ROOM   218  ANG MO KIO AVE 1     07 TO 09
...             ...        ...   ...               ...          ...
2012-02      YISHUN     5 ROOM   212      YISHUN ST 21     10 TO 12
2012-02      YISHUN     5 ROOM   758      YISHUN ST 72     01 TO 03
2012-02      YISHUN     5 ROOM   873      YISHUN ST 81     01 TO 03
2012-02      YISHUN  EXECUTIVE   664      YISHUN AVE 4     07 TO 09
2012-02      YISHUN  EXECUTIVE   293      YISHUN ST 22     04 TO 06

         floor_area_sqm      flat_model  lease_commence_date  resale_price
month
2000-01            69.0        Improved                 1986      147000.0
2000-01            61.0        Improved                 1986      144000.0
2000-01            73.0  New Generation                 1976      159000.0
2000-01            73.0  New Generation                 1976      167000.0
2000-01            67.0  New Generation                 1976      163000.0
...                 ...             ...                  ...           ...
2012-02           121.0        Improved                 1985      476888.0
2012-02           122.0        Improved                 1986      490000.0
2012-02           122.0        Improved                 1988      488000.0
2012-02           181.0       Apartment                 1992      705000.0
2012-02           163.0       Apartment                 1992      630000.0

[369651 rows x 9 columns]

In [24]:
location_3 = r'C:/Users/david/DATA/HDB/3_mar-2012-to-dec-2014.csv'
rs_3 = pd.read_csv("C:/Users/david/DATA/HDB/3_mar-2012-to-dec-2014.csv", index_col = 0)
print(rs_3)

               town  flat_type block        street_name storey_range  \
month
2012-03  ANG MO KIO     2 ROOM   172   ANG MO KIO AVE 4     06 TO 10
2012-03  ANG MO KIO     2 ROOM   510   ANG MO KIO AVE 8     01 TO 05
2012-03  ANG MO KIO     3 ROOM   610   ANG MO KIO AVE 4     06 TO 10
2012-03  ANG MO KIO     3 ROOM   474  ANG MO KIO AVE 10     01 TO 05
2012-03  ANG MO KIO     3 ROOM   604   ANG MO KIO AVE 5     06 TO 10
...             ...        ...   ...                ...          ...
2014-12      YISHUN     5 ROOM   816       YISHUN ST 81     10 TO 12
2014-12      YISHUN  EXECUTIVE   325        YISHUN CTRL     10 TO 12
2014-12      YISHUN  EXECUTIVE   618     YISHUN RING RD     07 TO 09
2014-12      YISHUN  EXECUTIVE   277       YISHUN ST 22     07 TO 09
2014-12      YISHUN  EXECUTIVE   277       YISHUN ST 22     04 TO 06

         floor_area_sqm      flat_model  lease_commence_date  resale_price
month
2012-03            45.0        Improved                 1986      250000.0
2012-03            44.0        Improved                 1980      265000.0
2012-03            68.0  New Generation                 1980      315000.0
2012-03            67.0  New Generation                 1984      320000.0
2012-03            67.0  New Generation                 1980      321000.0
...                 ...             ...                  ...           ...
2014-12           122.0        Improved                 1988      580000.0
2014-12           146.0      Maisonette                 1988      540000.0
2014-12           164.0       Apartment                 1992      738000.0
2014-12           152.0      Maisonette                 1985      592000.0
2014-12           146.0      Maisonette                 1985      545000.0

[52203 rows x 9 columns]

In [25]:
rs_3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52203 entries, 2012-03 to 2014-12
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   town                 52203 non-null  object
 1   flat_type            52203 non-null  object
 2   block                52203 non-null  object
 3   street_name          52203 non-null  object
 4   storey_range         52203 non-null  object
 5   floor_area_sqm       52203 non-null  float64
 6   flat_model           52203 non-null  object
 7   lease_commence_date  52203 non-null  int64
 8   resale_price         52203 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 4.0+ MB

In [26]:
rs_3.tail()

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
month,,,,,,,,,
2014-12,YISHUN,5 ROOM,816,YISHUN ST 81,10 TO 12,122.0,Improved,1988,580000.0
2014-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,10 TO 12,146.0,Maisonette,1988,540000.0
2014-12,YISHUN,EXECUTIVE,618,YISHUN RING RD,07 TO 09,164.0,Apartment,1992,738000.0
2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,07 TO 09,152.0,Maisonette,1985,592000.0
2014-12,YISHUN,EXECUTIVE,277,YISHUN ST 22,04 TO 06,146.0,Maisonette,1985,545000.0

In [27]:
rs_3.shape

(52203, 9)

In [28]:
rs_4 = pd.read_csv("C:/Users/david/DATA/HDB/4_jan-2015-to-dec-2016.csv", index_col = 0)
rs_4.shape

(37153, 10)

In [29]:
rs_4.tail()

,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
month,,,,,,,,,,
2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

In [30]:
print(rs_4) # 10 columns lease remaining

               town         flat_type block        street_name storey_range  \
month
2015-01  ANG MO KIO            3 ROOM   174   ANG MO KIO AVE 4     07 TO 09
2015-01  ANG MO KIO            3 ROOM   541  ANG MO KIO AVE 10     01 TO 03
2015-01  ANG MO KIO            3 ROOM   163   ANG MO KIO AVE 4     01 TO 03
2015-01  ANG MO KIO            3 ROOM   446  ANG MO KIO AVE 10     01 TO 03
2015-01  ANG MO KIO            3 ROOM   557  ANG MO KIO AVE 10     07 TO 09
...             ...               ...   ...                ...          ...
2016-12      YISHUN            5 ROOM   297       YISHUN ST 20     13 TO 15
2016-12      YISHUN            5 ROOM   838       YISHUN ST 81     01 TO 03
2016-12      YISHUN         EXECUTIVE   664       YISHUN AVE 4     10 TO 12
2016-12      YISHUN         EXECUTIVE   325        YISHUN CTRL     01 TO 03
2016-12      YISHUN  MULTI-GENERATION   666       YISHUN AVE 4     10 TO 12

         floor_area_sqm        flat_model  lease_commence_date  \
month
2015-01            60.0          Improved                 1986
2015-01            68.0    New Generation                 1981
2015-01            69.0    New Generation                 1980
2015-01            68.0    New Generation                 1979
2015-01            68.0    New Generation                 1980
...                 ...               ...                  ...
2016-12           112.0          Improved                 2000
2016-12           122.0          Improved                 1987
2016-12           181.0         Apartment                 1992
2016-12           146.0        Maisonette                 1988
2016-12           164.0  Multi Generation                 1987

         remaining_lease  resale_price
month
2015-01               70      255000.0
2015-01               65      275000.0
2015-01               64      285000.0
2015-01               63      290000.0
2015-01               64      290000.0
...                  ...           ...
2016-12               82      488000.0
2016-12               69      455000.0
2016-12               74      778000.0
2016-12               70      575000.0
2016-12               70      735000.0

[37153 rows x 10 columns]

In [31]:
rs_5 = pd.read_csv("C:/Users/david/DATA/HDB/5_jan-2017-onwards.csv", index_col = 0)
rs_5.shape

(100225, 10)

In [32]:
print(rs_5)  # 10 columns lease remaining #

               town  flat_type block        street_name storey_range  \
month
2017-01  ANG MO KIO     2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
2017-01  ANG MO KIO     3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2017-01  ANG MO KIO     3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
2017-01  ANG MO KIO     3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
2017-01  ANG MO KIO     3 ROOM   601   ANG MO KIO AVE 5     01 TO 03
...             ...        ...   ...                ...          ...
2021-06      YISHUN     5 ROOM  505C       YISHUN ST 51     10 TO 12
2021-06      YISHUN  EXECUTIVE   664       YISHUN AVE 4     01 TO 03
2021-06      YISHUN  EXECUTIVE   277       YISHUN ST 22     01 TO 03
2021-06      YISHUN  EXECUTIVE   643       YISHUN ST 61     01 TO 03
2021-06      YISHUN  EXECUTIVE   828       YISHUN ST 81     04 TO 06

         floor_area_sqm      flat_model  lease_commence_date  \
month
2017-01            44.0        Improved                 1979
2017-01            67.0  New Generation                 1978
2017-01            67.0  New Generation                 1980
2017-01            68.0  New Generation                 1980
2017-01            67.0  New Generation                 1980
...                 ...             ...                  ...
2021-06           112.0        Improved                 2016
2021-06           181.0       Apartment                 1992
2021-06           152.0      Maisonette                 1985
2021-06           146.0      Maisonette                 1987
2021-06           146.0      Maisonette                 1988

            remaining_lease  resale_price
month
2017-01  61 years 04 months      232000.0
2017-01  60 years 07 months      250000.0
2017-01  62 years 05 months      262000.0
2017-01   62 years 01 month      265000.0
2017-01  62 years 05 months      265000.0
...                     ...           ...
2021-06  93 years 10 months      615000.0
2021-06  69 years 11 months      868000.0
2021-06  63 years 03 months      585000.0
2021-06  65 years 04 months      600000.0
2021-06  65 years 08 months      715000.0

[100225 rows x 10 columns]

In [33]:
rs_5.count

<bound method DataFrame.count of                town  flat_type block        street_name storey_range  \
month
2017-01  ANG MO KIO     2 ROOM   406  ANG MO KIO AVE 10     10 TO 12
2017-01  ANG MO KIO     3 ROOM   108   ANG MO KIO AVE 4     01 TO 03
2017-01  ANG MO KIO     3 ROOM   602   ANG MO KIO AVE 5     01 TO 03
2017-01  ANG MO KIO     3 ROOM   465  ANG MO KIO AVE 10     04 TO 06
2017-01  ANG MO KIO     3 ROOM   601   ANG MO KIO AVE 5     01 TO 03
...             ...        ...   ...                ...          ...
2021-06      YISHUN     5 ROOM  505C       YISHUN ST 51     10 TO 12
2021-06      YISHUN  EXECUTIVE   664       YISHUN AVE 4     01 TO 03
2021-06      YISHUN  EXECUTIVE   277       YISHUN ST 22     01 TO 03
2021-06      YISHUN  EXECUTIVE   643       YISHUN ST 61     01 TO 03
2021-06      YISHUN  EXECUTIVE   828       YISHUN ST 81     04 TO 06

         floor_area_sqm      flat_model  lease_commence_date  \
month
2017-01            44.0        Improved                 1979
2017-01            67.0  New Generation                 1978
2017-01            67.0  New Generation                 1980
2017-01            68.0  New Generation                 1980
2017-01            67.0  New Generation                 1980
...                 ...             ...                  ...
2021-06           112.0        Improved                 2016
2021-06           181.0       Apartment                 1992
2021-06           152.0      Maisonette                 1985
2021-06           146.0      Maisonette                 1987
2021-06           146.0      Maisonette                 1988

            remaining_lease  resale_price
month
2017-01  61 years 04 months      232000.0
2017-01  60 years 07 months      250000.0
2017-01  62 years 05 months      262000.0
2017-01   62 years 01 month      265000.0
2017-01  62 years 05 months      265000.0
...                     ...           ...
2021-06  93 years 10 months      615000.0
2021-06  69 years 11 months      868000.0
2021-06  63 years 03 months      585000.0
2021-06  65 years 04 months      600000.0
2021-06  65 years 08 months      715000.0

[100225 rows x 10 columns]>

In [34]:
##'''RS_4 and RS_5''' have extra column
# Remaining Lease column included #
# MND announced that SERs only for selected areas.
# Resale flats will eventually decrease in value as end of lease 'zero' year approaches
# Resale flats 2nd Upgrading at year 70 into lease?

rs_5.nunique()

town                     26
flat_type                 7
block                  2522
street_name             552
storey_range             17
floor_area_sqm          166
flat_model               20
lease_commence_date      54
remaining_lease         637
resale_price           2759
dtype: int64

In [35]:
#series and dataframes
type(rs_5['town'])

pandas.core.series.Series

In [36]:
# location data consolidate #

rs_5a = rs_5[['block', 'street_name', 'town']]

In [37]:
print(rs_5a)

        block        street_name        town
month
2017-01   406  ANG MO KIO AVE 10  ANG MO KIO
2017-01   108   ANG MO KIO AVE 4  ANG MO KIO
2017-01   602   ANG MO KIO AVE 5  ANG MO KIO
2017-01   465  ANG MO KIO AVE 10  ANG MO KIO
2017-01   601   ANG MO KIO AVE 5  ANG MO KIO
...       ...                ...         ...
2021-06  505C       YISHUN ST 51      YISHUN
2021-06   664       YISHUN AVE 4      YISHUN
2021-06   277       YISHUN ST 22      YISHUN
2021-06   643       YISHUN ST 61      YISHUN
2021-06   828       YISHUN ST 81      YISHUN

[100225 rows x 3 columns]

In [38]:
type(rs_5a)

pandas.core.frame.DataFrame

In [39]:
rs_5.columns

Index(['town', 'flat_type', 'block', 'street_name', 'storey_range',
       'floor_area_sqm', 'flat_model', 'lease_commence_date',
       'remaining_lease', 'resale_price'],
      dtype='object')

In [40]:
# Flat data consolidate #

rs_5b = rs_5[['flat_type', 'flat_model', 'floor_area_sqm', 'storey_range']]
print(rs_5b)

         flat_type      flat_model  floor_area_sqm storey_range
month
2017-01     2 ROOM        Improved            44.0     10 TO 12
2017-01     3 ROOM  New Generation            67.0     01 TO 03
2017-01     3 ROOM  New Generation            67.0     01 TO 03
2017-01     3 ROOM  New Generation            68.0     04 TO 06
2017-01     3 ROOM  New Generation            67.0     01 TO 03
...            ...             ...             ...          ...
2021-06     5 ROOM        Improved           112.0     10 TO 12
2021-06  EXECUTIVE       Apartment           181.0     01 TO 03
2021-06  EXECUTIVE      Maisonette           152.0     01 TO 03
2021-06  EXECUTIVE      Maisonette           146.0     01 TO 03
2021-06  EXECUTIVE      Maisonette           146.0     04 TO 06

[100225 rows x 4 columns]

In [41]:
rs_5c = rs_5[['remaining_lease', 'resale_price']]
print(rs_5c)

            remaining_lease  resale_price
month
2017-01  61 years 04 months      232000.0
2017-01  60 years 07 months      250000.0
2017-01  62 years 05 months      262000.0
2017-01   62 years 01 month      265000.0
2017-01  62 years 05 months      265000.0
...                     ...           ...
2021-06  93 years 10 months      615000.0
2021-06  69 years 11 months      868000.0
2021-06  63 years 03 months      585000.0
2021-06  65 years 04 months      600000.0
2021-06  65 years 08 months      715000.0

[100225 rows x 2 columns]

In [42]:
# TA-DA!!#

rs_5abc = pd.concat([rs_5a, rs_5b, rs_5c], axis=1)
print(rs_5abc)

        block        street_name        town  flat_type      flat_model  \
month
2017-01   406  ANG MO KIO AVE 10  ANG MO KIO     2 ROOM        Improved
2017-01   108   ANG MO KIO AVE 4  ANG MO KIO     3 ROOM  New Generation
2017-01   602   ANG MO KIO AVE 5  ANG MO KIO     3 ROOM  New Generation
2017-01   465  ANG MO KIO AVE 10  ANG MO KIO     3 ROOM  New Generation
2017-01   601   ANG MO KIO AVE 5  ANG MO KIO     3 ROOM  New Generation
...       ...                ...         ...        ...             ...
2021-06  505C       YISHUN ST 51      YISHUN     5 ROOM        Improved
2021-06   664       YISHUN AVE 4      YISHUN  EXECUTIVE       Apartment
2021-06   277       YISHUN ST 22      YISHUN  EXECUTIVE      Maisonette
2021-06   643       YISHUN ST 61      YISHUN  EXECUTIVE      Maisonette
2021-06   828       YISHUN ST 81      YISHUN  EXECUTIVE      Maisonette

         floor_area_sqm storey_range     remaining_lease  resale_price
month
2017-01            44.0     10 TO 12  61 years 04 months      232000.0
2017-01            67.0     01 TO 03  60 years 07 months      250000.0
2017-01            67.0     01 TO 03  62 years 05 months      262000.0
2017-01            68.0     04 TO 06   62 years 01 month      265000.0
2017-01            67.0     01 TO 03  62 years 05 months      265000.0
...                 ...          ...                 ...           ...
2021-06           112.0     10 TO 12  93 years 10 months      615000.0
2021-06           181.0     01 TO 03  69 years 11 months      868000.0
2021-06           152.0     01 TO 03  63 years 03 months      585000.0
2021-06           146.0     01 TO 03  65 years 04 months      600000.0
2021-06           146.0     04 TO 06  65 years 08 months      715000.0

[100225 rows x 9 columns]

In [43]:
type(rs_5abc)

pandas.core.frame.DataFrame

In [44]:
rs_5abc.head()

,block,street_name,town,flat_type,flat_model,floor_area_sqm,storey_range,remaining_lease,resale_price
month,,,,,,,,,
2017-01,406,ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,Improved,44.0,10 TO 12,61 years 04 months,232000.0
2017-01,108,ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,New Generation,67.0,01 TO 03,60 years 07 months,250000.0
2017-01,602,ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,New Generation,67.0,01 TO 03,62 years 05 months,262000.0
2017-01,465,ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,New Generation,68.0,04 TO 06,62 years 01 month,265000.0
2017-01,601,ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,New Generation,67.0,01 TO 03,62 years 05 months,265000.0

In [45]:
rs_5abc.tail()

,block,street_name,town,flat_type,flat_model,floor_area_sqm,storey_range,remaining_lease,resale_price
month,,,,,,,,,
2021-06,505C,YISHUN ST 51,YISHUN,5 ROOM,Improved,112.0,10 TO 12,93 years 10 months,615000.0
2021-06,664,YISHUN AVE 4,YISHUN,EXECUTIVE,Apartment,181.0,01 TO 03,69 years 11 months,868000.0
2021-06,277,YISHUN ST 22,YISHUN,EXECUTIVE,Maisonette,152.0,01 TO 03,63 years 03 months,585000.0
2021-06,643,YISHUN ST 61,YISHUN,EXECUTIVE,Maisonette,146.0,01 TO 03,65 years 04 months,600000.0
2021-06,828,YISHUN ST 81,YISHUN,EXECUTIVE,Maisonette,146.0,04 TO 06,65 years 08 months,715000.0